apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-java-springboot-owcfkhdp
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-java-springboot-owcfkhdp:ec39039f9ae5fb3043c4e01210b961756a390678@sha256:f3b2d56e2c6bc701199919d5bacee9443436aa11256590b9cbaffdc02eb48efa
        name: container-image  
